h2 {
	font-family: "IBMPlexSerif";
	font-weight: 600;
	font-size: 2.25rem;
	line-height: 133%;
}
@media(max-width: 1100px) {
	h2 {
		font-size: 2rem;
	}
}
@media(max-width: 935px) {
	h2 {
		font-size: 1.8rem;
	}
}
@media(max-width: 700px) {
	h2 {
		font-size: 1.7rem;
	}
}
@media(max-width: 500px) {
	h2 {
		font-size: 1.6rem;
	}
}

.main {
	font-size: 1rem;
}
@media(max-width: 1300px) {
	.main {
		font-size: 0.875rem;
	}
}

.content-wrap {
	position: relative;
	width: 100%;
    max-width: 1920px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 220px;
}
@media(max-width: 2000px) {
	.content-wrap {
		padding: 0 80px;
	}
}
@media(max-width: 1680px) {
	.content-wrap {
		padding: 0 50px;
	}
}
@media(max-width: 1280px) {
	.content-wrap {
		padding: 0 25px;
	}
}
@media(max-width: 500px) {
	.content-wrap {
		padding: 0 10px;
	}
}
@media(min-width: 2300px) {
	.header .content-wrap {
		max-width: 2300px;
	}
}

.front-page {
	padding-top: 140px;
	background: linear-gradient(217deg,rgba(231,216,230,.7),hsla(0,0%,100%,0) 70%),
				linear-gradient(127deg,rgba(255,229,236,.7),hsla(0,0%,100%,0) 70%),
				linear-gradient(336deg,rgba(227,234,240,.7),hsla(0,0%,100%,0) 70%),
				linear-gradient(120deg,rgba(246,241,240,.7),rgba(246,241,240,0) 70%),
				linear-gradient(120deg,rgba(255,238,217,.7),hsla(0,0%,100%,0) 70%);
}

.front-page__inner {
	display: flex;
	align-items: flex-end;
	margin-bottom: 100px;
}

.front-page__text {
	position: relative;
	flex: 2 1 68.75%;
	padding: 0 20px 0 150px;
}

.front-page__text:before {
	content: url('../images/front-page-label.svg');
    width: 124px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    background-size: contain;
}

.front-page__title {
	max-width: 850px;
    margin-bottom: 20px;
    font-family: IBMPlexSerif;
    font-weight: 500;
    font-size: 48px;
    line-height: 125%;
    padding-right: 20px;
}
@media(max-width: 1265px) {
	.front-page__text {
		padding: 0 20px;		
	}
	.front-page__text:before {
		top: -70px;
		left: 20px;
	}
	.front-page__title {
		font-size: 2.5rem;
	}
}
@media(max-width: 1114px) {
	.front-page__text {
		margin-top: 15px;
	}
}
@media(max-width: 713px) {
	.front-page__title {
		font-size: 1.875rem;
	}
}
@media(max-width: 405px) {
	.front-page__title {
		font-size: 1.33rem;
	}
}

.front-page__subtitle {
	margin-bottom: 80px;
}

.subtitle__button {
	background: transparent;
}

.subtitle__button:hover {
	color: #8f3f6f;
}

.subtitle__link {
	color: #000;
}

.subtitle__link:hover {
	color: #8f3f6f;
}

.front-page__image {
	flex: 1 2 31.25%;
}
@media(max-width: 920px) {
	.front-page__image {
		display: none;
	}
}

.front-page__image img {
	width: 100%;
}

.front-page__button {
	flex: 1 1 327px;
	padding: 10px 30px;
	height: 64px;
	max-width: 327px;
}
@media(max-width: 1000px) {
	.front-page__button {
		width: 265px;
	}
}
@media(max-width: 625px) {
	.front-page__button {
		width: 100%;
		flex-basis: auto;
		max-width: 100%;
	}
}

.front-page__form {
	display: flex;
	justify-content: start;
}
@media(max-width: 920px) {
	.front-page__form {
		justify-content: center;
	}
}
@media(max-width: 625px) {
	.front-page__form {
		flex-direction: column;
		align-items: center;
	}
}
.front-page__select {
	flex: 0 1 327px;
    margin-right: 10px;

}
@media(max-width: 625px) {
	.front-page__select {
		flex-basis: auto;
		width: 100%;
		margin-right: 0;
	}
}

.front-page__select_opened .select__window svg {
	transform: rotateZ(180deg);
}

.front-page__select_opened .select__option-list {
	display: block;
}

.select__window {
    position: relative;
    padding: 0 20px;
    margin-bottom: 5px;
	background-color: #fff;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 64px;
    max-width: 327px;
    line-height: 64px;
}
@media(max-width: 1000px) {
	.select__window{
		width: 100%;	
	}
}
@media(max-width: 625px) {
	.select__window {
		width: 100%;
		max-width: 100%;
	}
}


.select__window svg {
	position: absolute;
	right: 20px;
	top: calc(50% - 2.5px);
	transition: transform .4s;
}
.select__text {
	padding-right: 20px;
}
.select__option-list {
	position: absolute;
	left: 0;
	right: 0;
	top: 69px;
	border-radius: 0 0 6px 6px;
	overflow: hidden;
	display: none;
	z-index: 12;
}

.select__option {
	height: 64px;
    width: 327px;
    padding: 0 20px;
    line-height: 64px;
    background-color: #fff;	
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
@media(max-width: 1000px) {
	.select__option {
		width: 265px;	
		width: 100%;	
	}
}
@media(max-width: 625px) {
	.select__option {
		width: 100%;
	}
}

.select__option_selected, .select__option:hover {
	background-color: #f2f2f2;
}

.stats {
	width: 100%;
	padding: 30px 0 24px;
    background: hsla(0,0%,100%,.5);
}

.stats__list {
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(150px, 1fr));
}

.stats__item {
	position: relative;
    margin: 5px 20px
}
@media(max-width: 500px) {
	.stats__item {
		margin: 5px;
	}
}

.statistics__item:before {
	content: "";
    width: 64px;
    height: 64px;
    position: absolute;
    top: -20px;
    left: -30px;
    background: linear-gradient(255.96deg,rgba(251,235,239,.6),rgba(223,234,253,.6));
    border-radius: 50pc;
    z-index: 1;
}
@media(max-width: 500px) {
	.statistics__item:before {
		top: -5px;
		left: -15px;
	}
}

.stats__title {
	margin-bottom: 6px;
    position: relative;
    z-index: 1;
    font-size: 1.5rem;
    line-height: 125%;
    font-family: Formular;
    font-weight: 500;
}
@media(max-width: 1024px) {
	.stats__title {
		font-size: 1.3rem;
	}
}
.stats__text {
	position: relative;
	z-index: 1;
}

.licence {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 30px 0;
	background: linear-gradient(83.66deg,rgba(25,15,15,.25),rgba(65,30,52,.25));
	z-index: 30;
	-webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
}

.licence_hidden {
	display: none;
}

.licence__close {
	position: absolute;
	right: 5px;
	top: 5px;
	padding: 10px;
	background: transparent;
}
@media(max-width: 500px) {
	.licence__close {
		top: -3px;
	}
}
.licence__image {
    position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
    z-index: 2;
}

.licence__image img {
    max-width: 100%;
    max-height: calc(100vh - 60px);
}

.studying-programs {
	margin-bottom: 50px;
}
.studying-programs__inner {
	display: flex;
	margin-top: 80px;
}
@media(max-width: 700px) {
	.studying-programs__inner {
		flex-direction: column;
	}
}
.studying-programs__left {
	position: relative;
	padding-right: 20px;
	flex: 1 0 50%;
}

.sticky {
	position: sticky;
	top: 70px;
}
@media(max-width: 700px) {
	.sticky {
		display: flex;
		justify-content: space-between;
	}
}

.studying-programs__left picture {
	width: 70%;
	margin-top: 100px;
}
@media(max-width: 700px) {
	.studying-programs__left picture {
		margin-top: 5px;
		min-width: 90px;		
	}
}
.studying-programs__left img {
	width: 70%;
}
@media(max-width: 700px) {
	.studying-programs__left img {
		width: 100%;			
	}
}
.studying-programs__right {
	flex: 1 0 50%;
}
.studying-programs__list {
	padding-top: 30px;
}
@media(max-width: 700px) {
	.studying-programs__list {
		padding-top: 15px;
	}
}
.program + .program {
	border-top: 1px solid #ccc;
}
.program__heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: Formular;
	font-weight: 500;
	font-size: 1.25rem;
	line-height: 150%;
	padding: 32px 0;
	cursor: pointer;
	user-select: none;
}
@media(max-width: 600px) {
	.program__heading {
		font-size: 1.1rem;
	}
}


.program__heading span {
	font-size: 30px;
	font-weight: 400;
	padding-left: 20px;
}
.program-wrap {
	height: 0;
	transition: all .3s;
	overflow: hidden;
}

.program__list {
	padding: 5px 0;
}

.program__item {
	display: flex;
	align-items: center;
	justify-content: start;
	margin-bottom: 25px;
	font-size: 1rem;
}
@media(max-width: 1380px) {
	.program__item {
		font-size: 0.875rem;
	}
}
@media(max-width: 400px) {
	.program__item {
		justify-content: space-between;
	}
}


.program__item:last-child {
	margin-bottom: 45px;
}
.program__text {
	color: #000;
	border-bottom: solid 1px #aaa;
	transition: all .3s;
}

.program__text:hover {
	border-color: #8f3f6f;
	color: #8f3f6f;
}

.status {
	position: relative;
	white-space: nowrap;
	margin-left: 20px;
	color: #fff;
	padding: 1px 10px 4px 18px;
	text-transform: lowercase;
}

.status::before {
	content: "";
	position: absolute;
	clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 10% 100%, 0% 50%);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}

.status-green::before {
	background: #85ab35;
}

.status-orange::before {
	background: #e0b74e;
}

.status::after {
	content: "";
	position: absolute;
	top: calc(50% - 2px);
	left: 8px;
	border-radius: 50%;
	width: 4px;
	height: 4px;
	background: #fff;
}

.lessons {}
.lessons__inner {
	display: flex;
}
@media(max-width: 845px) {
	.lessons__inner {
		flex-direction: column;
	}
}
.lessons__text {
	flex-basis: 50%;
	margin-right: 10%;
}
@media(max-width: 1000px) {
	.lessons__text {
		margin-right: 30px;
	}
}
@media(max-width: 845px) {
	.lessons__text {
		flex-basis: auto;
	}
}
.lessons__heading {
	margin-bottom: 50px;
}
.lessons__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
@media(max-width: 500px) {
	.lessons__list {
		flex-direction: column;
	}
}

.lessons__item {
	width: 50%;
	margin-bottom: 60px;
	padding-right: 15px;
}
@media(max-width: 1000px) {
	.lessons__item {
		margin-bottom: 30px;
	}
}
@media(max-width: 500px) {
	.lessons__item {
		display: flex;
		align-items: center;
		justify-content: start;
		margin-bottom: 20px;
		width: 100%;
		padding-right: 0;
	}
}


.lessons__number {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	font-size: 1.5rem;
	margin-bottom: 20px;
	width: 64px;
	height: 64px;
	border-radius: 50%;
	background: linear-gradient(0deg,#dfeafd,#fbebef);;
}
@media(max-width: 500px) {
	.lessons__number {
		font-size: 1.25rem;
		margin-bottom: 0;
		margin-right: 20px;
		width: 56px;
		height: 56px;
	}
}
.lessons__number:after {
	content: "";
	width: calc(100% - 15px);
	height: calc(100% - 15px);
	position: absolute;
	top: 8px;
	left: 8px;
	background-color: hsla(0,0%,100%,.5);
	border-radius: 50%;
	z-index: 1;
}

.lessons__number span {
	z-index: 2;
}
.lessons__item-text {
	font-size: 1.25rem;
}
@media(max-width: 800px) {
	.lessons__item-text {
		font-size: 1.1rem;
	}
}
@media(max-width: 430px) {
	.lessons__item-text {
		font-size: 1rem;
	}
}
.lessons__slider-container {
	display: flex;
	justify-content: center;
	min-width: 0;
	max-width: 50%;
}
@media(max-width: 845px) {
	.lessons__slider-container {
		max-width: 100%;
	}
}
.lessons__slider {
	max-width: 100%;
	min-width: 0;
}
@media(max-width: 845px) {
	.lessons__slider {
		flex-basis: auto;
		max-width: 60%;
	}
}
@media(max-width: 580px) {
	.lessons__slider {
		max-width: 100%;
	}
}

.slider-image {
	cursor: grab;
	margin-bottom: 50px;
}

@media(max-width: 845px) {
	.slider-nav {
		display: none;
	}
}

.slider-image:active {
	cursor: grabbing;
}

.nav-slider__item + .nav-slider__item{
	padding-left: 15px;
}

.lessons__slider img {
	max-width: 100%;
	max-height: 100%;
}

.slick-list {
	overflow: hidden;
}

.slick-track{
	display: flex;
}

.slider-image .slick-dots{
	display: none!important;
}
@media(max-width: 845px) {
	.slider-image .slick-dots {
		display: flex!important;
		justify-content: center;
	}	
}

.slider-image .slick-dots li + li {
	margin-left: 10px;
} 

.slider-image .slick-dots li.slick-active button{
	background: #a74766;
} 
.slider-image .slick-dots li button{
	font-size: 0;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #ccc;
}

.slider-image .slider-nav .slick-slide.slick-current img{
	border: #8b3d70 solid 2px;
}

.slider-nav .slick-slide img{
	border: transparent solid 2px;
	cursor: pointer;
}

.teachers__grid {
	position: relative;
	background: url("../images/rectangle-cover.png") no-repeat;
	background-size: 65% 65%;
	background-position: 25% 25%;
	margin-bottom: 50px;
}

.teachers__grid:before {
	content: "";
	width: 100%;
	height: calc(100% + 20px);
	position: absolute;
	top: -10px;
	left: 0;
	z-index: 1;
	background: radial-gradient(#cf5657 20%,#ee7b40 100%);
	opacity: .15;
	filter: blur(20px);
}
.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr; 
	grid-template-areas: 'a b c c' 'd e f g' 'h i j j';
	grid-gap: 30px 20px;
}
@media(max-width: 900px) {
	.grid {
		grid-template-columns: 1fr 1fr;
		grid-template-areas: 'c c' 'a b' 'd e' 'f g' 'h i' 'j j';
	}
}
@media(max-width: 500px) {
	.grid {
		display: flex;
		flex-direction: column;
		row-gap: 10px;
	}
}
.grid__item {
	background-color: #fff;
	border-radius: 8px;
	overflow: hidden;
	z-index: 2;
	max-height: 300px;
}

.grid__item:nth-child(-n+2) {
	align-self: end;
	height: 200px;
}
@media(max-width: 900px) {
	.grid__item:nth-child(-n+2) {
		align-self: auto;
		height: auto;
	}
}

.grid__item:nth-child(3) {
	grid-area: c;
	background-size: cover;
	height: 250px;
}
@media(max-width: 900px) {
	.grid__item:nth-child(3) {
		height: auto;
	}
}

.grid__item:nth-child(10) {
	grid-area: j;
}

.grid__item img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}
.grid-text {
	padding: 42px 30px;
	max-height: fit-content;
}
@media(max-width: 500px) {
	.grid-text {
		padding: 30px 20px;
	}
}
.grid-text__heading {
	font-family: "IBMPlexSerif";
	font-weight: 600;
	font-size: 1.5rem;
	line-height: 150%;
	margin-bottom: 12px;
}
@media(max-width: 500px) {
	.grid-text__heading {
		font-size: 1.2rem;
		margin-bottom: 8px;
	}
}


.enrollment {
	position: relative;
	background-color: #92a656;
	color: #fff;
	padding: 80px 0 160px 0;
}
@media(max-width: 800px) {
	.enrollment {
		padding: 40px 0;
	}
}

.enrollment__inner {
	position: relative;
}
.enrollment__heading {
	padding-bottom: 50px;
}
@media(max-width: 800px) {
	.enrollment__heading {
		padding-bottom: 30px;
	}
}
.enrollment__text {
	padding-bottom: 50px;
	max-width: 1000px;
}
.enrollment__list {
	display: flex;
}
@media(max-width: 800px) {
	.enrollment__list {
		flex-direction: column;
	}
}
.enrollment__item {
	position: relative;
	padding-right: 40px;
}
@media(max-width: 800px) {
	.enrollment__item {
		padding-right: 0;
		padding-bottom: 40px;
		display: flex;
		align-items: center;
	}
}
.item__num {
	position: relative;
	width: 48px;
	height: 48px;
	margin-bottom: 20px;
	border-radius: 50%;
	border: 2px solid #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	background-color: #92a656;
	font-size: 1.5rem;
	line-height: 125%;
}
@media(max-width: 800px) {
	.item__num {
		margin-bottom: 0;
		margin-right: 20px;
	}
}
.enrollment__item:nth-child(-n+4)::before {
	content: "";
	position: absolute;
	top: 24px;
	border: 1px solid #fff;
	width: 100%;	
}
@media(max-width: 800px) {
	.enrollment__item:nth-child(-n+4)::before {
		width: 0;
		height: 100%;
		left: 24px;
	}
}
.enrollment__link {
	color: #fff;
	border-bottom: 1px solid #ccc;
	transition: border-bottom .4s;
}

.enrollment__link:hover {
	border-bottom: 1px solid #fff;
}

.enrollment__image {
	position: absolute;
	width: 150px;
  	bottom: -60px;
	right: 1%;
}
@media(max-width: 1550px) {
	.enrollment__image {
		right: -75px;	
	}
}
@media(max-width: 800px) {
	.enrollment__image {
		bottom: 10px;
		right: 75px;	
	}
}
@media(max-width: 560px) {
	.enrollment__image {
		bottom: -20px;
		right: 1px;	
	}
}
@media(max-width: 465px) {
	.enrollment__image {
		display: none;	
	}
}

.start {
	background: linear-gradient(255.96deg,rgba(223,234,253,.5),rgba(251,235,239,.5));
	padding: 80px 0;
	margin-bottom: 30px;
}
.start__inner{
	display: flex;
	column-gap: 20px;
}
@media(max-width: 715px) {
	.start__inner {
		flex-direction: column;
		align-items: center;
	}
}
.start__column {
	flex: 0 1 50%;
}
.column-form {
	display: flex;
	justify-content: flex-end;
	min-width: 410px;
}
@media(max-width: 450px) {
	.column-form {
		min-width: 300px;
	}
}
.start__heading {
	font-family: "IBMPlexSerif";
	font-weight: 500;
	font-size: 2rem;
	line-height: 125%;
	margin-bottom: 25px;
}
.start__subheading {
	font-family: Formular;
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 125%;
	margin-bottom: 60px;
}

@media(max-width: 715px) {
	.start__image {
		display: none;
	}
}
.start__form {
	background: #fff;
	padding: 7% 12%;
	max-width: 570px;
}
@media(max-width: 480px) {
	.start__form {
		padding: 3.5% 4%;
	}
}

.label-text {
	display: inline-block;
	position: relative;
	width: 100%;
	padding: 30px 0 20px;
	color: #a5a5a5;
	border-bottom: 1px solid #a5a5a5;
}
.label-text:hover {
	color: #a14669;
	border-bottom: 1px solid transparent;
	border-image: linear-gradient(83.66deg,#cf5657,#8b3d70);
	border-image-slice: 1;
}
.checkbox-wrap {
	padding: 10px 0;
	align-self: flex-start;
}
.checkbox-wrap input {
	z-index: -1;
}
.checkbox-wrap label {
	position: relative;
	color: #000;
	margin-left: 0.4rem;
}
.checkbox-wrap label:hover {
	color: #a14669;
}
.checkbox-wrap label::before {
	content: "";
	position: absolute;
	display: inline-block;
	width: 1.4rem;
	height: 1.4rem;
	border: 1px solid #a5a5a5;
	border-radius: 6px;
	background: #fff;
	bottom: 0;
	left: -1.6rem;
}
.checkbox-wrap label:hover::before {
	border-color: #a14669;
}
.checkbox-wrap input:checked + label::before{
	background: url(../images/new_checkmark.png);
	background-size: contain;
	border-color: #a14669;
}
.start__form label span {
	display: inline-block;
	min-width: 130px;
}
@media(max-width: 360px) {
	.start__form label span {
		min-width: 100px;
	}
}
.start__form input[type="text"] {
	color: #a5a5a5;
}
@media(max-width: 350px) {
	.start__form input[type="text"] {
		width: 170px;
	}
}
.start__form select {
	width: 100%;
	padding: 20px 0 20px;
	margin-top: 30px;
	color: #000;
	border-bottom: 1px solid #a5a5a5;
	background: #fff;
	font-family: Formular;
	font-weight: 400; 
	font-size: 1rem;
}
.start__form select:hover, .start__form select:focus {
	color: #a14669;
	border-bottom: 1px solid transparent;
	border-image: linear-gradient(83.66deg,#cf5657,#8b3d70);
	border-image-slice: 1;
}
.start__form option {
	color: #a14669;
}
.start__form option[disabled] {
	color: #a5a5a5;
}
.start__form textarea {
	display: inline-block;
	width: 100%;
	height: 95px;
	padding: 30px 0 20px;
	margin-bottom: 20px;
	color: #000;
	border-bottom: 1px solid #a5a5a5;
	font-size: 1rem;
}
.start__form textarea:hover, 
.start__form textarea:focus {
	border-bottom: 1px solid transparent;
	border-image: linear-gradient(83.66deg,#cf5657,#8b3d70);
	border-image-slice: 1;
}
.start__form textarea:hover::placeholder,
.start__form textarea:focus::placeholder {
	color: #a14669;
}

.form__heading {
	font-family: "IBMPlexSerif";
	font-weight: 600;
	font-size: 1.5rem;
	line-height: 150%;
	padding-bottom: 40px;
}
@media(max-width: 480px) {
	.form__heading {
		padding-bottom: 15px;
	}
}
.form-button {
	width: 100%;
	height: 64px;
	margin: 30px auto 0;
}
.benefits__inner {
	display: flex;
	padding-top: 50px;
	margin-bottom: 50px;
	column-gap: 20px;
}
@media(max-width: 800px) {
	.benefits__inner {
		flex-direction: column;
		column-gap: 0;
		align-items: center;
	}
}
.benefits__column {
	flex: 1 1 55%;
}
.benefits__column-sticky {
	flex: 1 1 45%;
}
.benefits__heading {
	margin-bottom: 100px;
}
@media(max-width: 1024px) {
	.benefits__heading {
		margin-bottom: 30px;
	}
}
.benefits__image {
	max-width: 85%;
}
@media(max-width: 800px) {
	.benefits__image {
		display: none;
	}
}
.benefits__list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 20px; 
}
@media(max-width: 500px) {
	.benefits__list {
		grid-template-columns: 1fr;
		grid-column-gap: 0;
	}
}
.benefits__item {
	position: relative;
	padding: 0;
	margin-bottom: 60px;
}
@media(max-width: 1024px) {
	.benefits__item {
		margin-bottom: 40px;
	}
}
.benefits__item:before {
	top: -10px;
	left: -10px;
}
.levels {}
.levels__inner {}
.levels__header {
	position: relative;
}
.levels__header h2 {
	margin-bottom: 20px;
}
.levels__header a {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0;
	font-family: Formular;
    font-size: 1.5rem;
    line-height: 125%;
    color: #a14669;
    border-bottom: 1px solid #a5a5a5;
    transition: all .4s;
    display: flex;
    align-items: end;
}
@media(max-width: 800px) {
	.levels__header a {
		position: relative;
		margin-bottom: 30px;
		border-bottom: none;
		font-size: 1.2rem;
	}
}
.levels__header a:hover {
	border-color: #a14669;
}
.levels__header a svg {
	margin-left: 10px;
}
.levels__header p {
	max-width: 620px;
	margin-bottom: 30px;
}
.levels__image {
	max-width: 100%;
	overflow-x: auto;
	margin: 0 auto 20px;
}
.levels__image img {
	max-width: 1800px;
	min-width: 1300px;
	width: 100%;
}
@media(min-width: 1801px) {
	.levels__image {
		width: 1800px;
	}
}
.test {
	position: relative;
	width: 100%;
    background-color: #4a5eaa;
    padding: 170px 0 150px;
    text-align: center;
    margin-bottom: 80px;
    margin-top: 50px;
}
@media (max-width: 1580px) {
	.test {
	    padding-bottom: 120px;
	}
}
@media (max-width: 1380px) {
	.test {
	    padding-bottom: 70px;
	    padding-top: 130px;
	}
}
@media (max-width: 500px) {
	.test {
	    padding-bottom: 40	px;
	    padding-top: 70px;
	}
}
.test__inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #fff;
}
.test__inner h2 {
	margin-bottom: 30px;
	max-width: 65%;
}
.test__inner p {
	max-width: 500px;
	margin: 0 auto 30px;
}
.test__button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 40px auto;
    width: 240px;
    height: 64px;
}
.test img {
	position: absolute;
	display: inline-block;
	width: 21%;
	top: 100px;
}
.test__bg-left img {
	left: 0;
}
.test__bg-right img {
	right: 0;
}
@media(max-width: 500px) {
	.test__bg-right {
		display: none;
	}
}
.reviews {
	margin-bottom: 80px;
}
.reviews__heading {
	margin-bottom: 30px;
}
.reviews__section {
	display: flex;
	justify-content: space-between;
	column-gap: 20px;
}
@media(max-width: 700px) {
	.reviews__section {
		column-gap: 0;
		flex-direction: column;
		align-items: center;
	}
}
.reviews__wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.section__column {
	display: flex;
	flex-direction: column;
	flex-basis: calc(50% - 10px);

}
.review {
	height: 100%;
	margin-bottom: 40px;
	background: #f6f7f8;
	padding: 40px 40px 80px 30px;
	border-radius: 12px;	
}
.review__header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}
.review__header h4 {
	font-family: Formular;
    font-size: 1.5rem;
    line-height: 125%;
    padding-right: 20px;
}
.review__header span {
	color: #a5a5a5;
}
.reviews button {
	display: flex;
	align-items: center;
	color: #a14669;
	cursor: pointer;
	font-size: 2.25rem;
    line-height: 120%;
    background: transparent;
    margin: 0 auto;
}
@media(max-width: 650px) {
	.reviews button {
		font-size: 1.5rem;
	}
}
.blog-news {
	margin-bottom: 60px;
}
.blog-news__inner {
	display: flex;
	justify-content: space-between;
}
@media(max-width: 950px) {
	.blog-news__inner {
		display: block;
	}
}

.blog {
	flex: 0 1 60%;
	padding-right: 60px;
}
@media(max-width: 950px) {
	.blog {
		padding-right: 0;
		margin-bottom: 25px;
	}
}
.blog__header {
	margin-bottom: 15px;
}
.head {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.head a {
	color: #a14669;
	border-bottom: #a1466944 1px solid;
	transition: .4s;
}
.head a:hover {
	border-color: #a14669;
}
.blog__articles {
	display: flex;
	justify-content: space-between;
}
@media(max-width: 500px) {
	.blog__articles {
		display: block;
	}
}
.article {
	flex: 0 1 calc(50% - 10px);
}
@media(max-width: 500px) {
	.article {
		margin-bottom: 30px;
	}
}
.article__image {
	position: relative;
	max-width: 100%;
	height: 100%;
	margin-bottom: 10px;
	overflow: hidden;
	border-radius: 5px;
}
@media(max-width: 500px) {
	.article__image {
		margin-bottom: 0;
	}
}
.article__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.article__image svg {
	position: relative;
	top: 17px;
	left: 15px;
}
.article__image span {
	position: relative;
	top: 8px;
	left: 15px;
	color: #fff;
	font-size: .75rem;
}
.article__cover {
	position: absolute;
	opacity: 0;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #000000ac;
	transition: .4s
}
.article__link {
	display: block;
}
.article__link:hover .article__cover{
	opacity: 1;
}
.article__link:hover .heading {
	color: #8f3f6f;
}
.author {
	margin-bottom: 10px;
	color: #a5a5a5;
}
@media(max-width: 500px) {
	.author {
		margin-bottom: 4px;
	}
}
.heading {
	font-size: 1.25rem;
	line-height: 150%;
	color: #000;
	transition: all .4s;
}
@media(max-width: 1032px) {
	.heading {
		font-size: 1.125rem;
	}
}

.news {
	flex: 0 1 40%;
}
@media(max-width: 950px) {
	.news {
	}
}
.news__header {
	margin-bottom: 15px;
}
.news__list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
@media(max-width: 950px) {
	.news__list {
		flex-direction: row;
	}
}
@media(max-width: 715px) {
	.news__list {
		flex-direction: column;
	}
}
.news__item {
	margin-bottom: 30px;
}
@media(max-width: 950px) {
	.news__item {
		margin-bottom: 0;
		width: 33.33%;
	}
	.news__item + .news__item {
		margin-left: 20px;
	}
}
@media(max-width: 715px) {
	.news__item {
		margin-bottom: 30px;
		width: 100%;
	}
	.news__item + .news__item {
		margin-left: 0;
	}
}


.news__item a{
	display: flex;
}
@media(max-width: 950px) {
	.news__item a {
		display: block;
	}
}
@media(max-width: 715px) {
	.news__item a {
		display: flex;
		justify-content: space-between;
	}
}
@media(max-width: 500px) {
	.news__item a {
		display: block;
	}
}

.news__image {
    position: relative;
	min-width: 207px;
	flex-basis: 207px;	
	height: 100%;
	margin-right: 20px;
	border-radius: 4px;
    overflow: hidden;
}
@media(max-width: 950px) {
	.news__image {
		height: 100%;
		margin-right: 0;
	}
}
@media(max-width: 715px) {
	.news__image {
		flex: 0 2 calc(50% - 10px);
	}
}
@media(max-width: 715px) {
	.news__image {
		height: 100%;
	}
}

.news__image::before {
	content: "";
	position: absolute;	
	width: 100%;	
	height: 100%;
	top: 0;	
	left: 0;	
	background: #000000ac;
	opacity: 0;
	transition: opacity .4s;
}
.news__image img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.news__text {
	flex-basis: auto;
}
@media(max-width: 715px) {
	.news__text {
		flex: 0 1 calc(50% - 10px);
	}
}
.news__text span {
	color: #a5a5a5;
	font-size: 0.875rem;
}
.news__text p {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	color: #000;
	font-size: 	1.25rem;
}
@media(max-width: 1032px) {
	.news__text p {
		font-size: 	1.125rem;
	}
}
.news__item a:hover .news__image::before{
	opacity: 1;
}
.news__item a:hover .news__text p {
	color: #a14669;
}
.subscribe__inner {
	display: flex;
	align-items: center;
	padding: 50px 150px 70px;
	background: linear-gradient(83.66deg,#cf5657,#8b3d70);
	margin-bottom: 80px;
	border-radius: 4px;
	color: #fff;
}
@media (max-width: 1680px) {
	.subscribe__inner {
		padding: 50px 100px 70px;
	}
}
@media (max-width: 1000px) {
	.subscribe__inner {
		padding: 50px 50px 70px;
	}
}
@media (max-width: 800px) {
	.subscribe__inner {
		padding: 40px 50px 50px;
		flex-direction: column;
		align-items: start;
	}
}
@media (max-width: 600px) {
	.subscribe__inner {
		padding: 40px 20px 50px;
		flex-direction: column;
		align-items: start;
	}
}
.subscribe__inner div {
	margin-right: 70px;
	min-width: fit-content;
}
@media(max-width: 1000px) {
	.subscribe__inner div {
		min-width: 33.33%;
		margin-right: 30px;
	}
}
.subscribe__heading {
	font-family: "IBMPlexSerif", serif;
	font-weight: 500;
	font-size: 2rem;
	line-height: 125%;
	margin-bottom: 20px;
}
@media(max-width: 800px) {
	.subscribe__heading {
		margin-bottom: 10px;
		font-size: 1.8rem;
	}
}
@media(max-width: 500px) {
	.subscribe__heading {
		font-size: 1.6rem;
	}
}
@media(max-width: 400px) {
	.subscribe__heading {
		font-size: 1.25rem;
	}
}
.subscribe__text {
	font-size: 1rem;
}
@media (max-width: 1680px) {
	.subscribe__text {
		font-size: 0.875rem;
	}
}
@media(max-width: 800px) {
	.subscribe__text {
		margin-bottom: 30px;
	}
}
.subscribe__form {
	display: flex;
	width: 100%;
}
@media(max-width: 550px) {
	.subscribe__form {
		flex-direction: column;
	}
}
.subscribe__form input[type="email"] {
	max-width: 410px;
	width: 100%;
	margin-right: 10px;
	background-color: transparent;
	border-bottom: 1px solid hsla(0,0%,100%,.4);
	color: #fff;
	padding: 0 10px;
	border-radius: 0;
}
@media(max-width: 550px) {
	.subscribe__form input[type="email"] {
		margin-right: 0;
		margin-bottom: 20px;
		padding-bottom: 20px;
		max-width: 100%;
	}
}
.subscribe__form input[type="email"]::placeholder {
	color: #ffffffcc
}
.subscribe__form input[type="email"]::-webkit-input-placeholder {
	color: #ffffffcc
}
.subscribe__form input[type="email"]::-moz-placeholder {
	color: #ffffffcc
}
.subscribe__button {
	width: 240px;
	height: 68px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
	background: linear-gradient(83.66deg,#ee7b40,#cf5657);
}
@media(max-width: 1000px) {
	.subscribe__button {
		height: 55px;
	}
}
@media(max-width: 550px) {
	.subscribe__button {
		width: 100%;
	}
}
.subscribe__button::after {
	background: #ee7b40;
}
.footer {
	background: #1c1e23;
	color: #fff;
}
.footer__inner {
	padding-top: 60px;
}
.footer__info {
	display: flex;	
	margin-bottom: 60px;
}
@media(max-width: 1080px) {
	.footer__info {
		flex-direction: column;
	}
}
.footer-menu {
	flex: 1 2 1515px;
	display: flex;	
	justify-content: space-between;	
	padding-left: 7%;	
}
@media(max-width: 1080px) {
	.footer-menu {
		padding-left: 0;
		flex-basis: auto;
		flex-wrap: wrap;
	}
}
@media(max-width: 670px) {
	.footer-menu {
		display: none;
	}
}

.footer-mobile-menu {
	display: none;
}
@media(max-width: 670px) {
	.footer-mobile-menu {
		display: block;
	}
}

.footer-block {
	padding-right: 20px;
}

.footer-block__header {
	margin-bottom: 20px;
	font-family: Formular;
	font-weight: 500;
    font-size: 1rem;
    line-height: 125%;
}
@media(max-width: 1080px) {
	.footer-block__header {
		width: 100%;
	}
}
.footer-block li {
	margin-bottom: 15px;
}
.footer-block li:last-child {
	margin-bottom: 0;
}
.footer-block li a {
	font-weight: 400;
	font-size: 0.875rem;
	color: #fff;
	border-bottom: 1px solid #ffffff55;
	transition: all .4s;
}
.footer-block li a:hover {
	border-color: #ffffff;
}
.footer__contacts {
	flex: 2 1 285px;
}
@media(max-width: 1080px) {
	.footer__contacts {
		flex-basis: auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 30px;
	}	
}
.footer-block__address {
	max-width: 350px;
	margin-bottom: 40px;
}
@media(max-width: 1080px) {
	.footer-block__address {
		margin-bottom: 0;
		padding-right: 15px;
	}
}
@media(max-width: 800px) {
	.footer-block__address {
		max-width: 100%;
		width: 100%;
		margin-bottom: 20px;
		padding-right: 0;
	}
}
.social-media {
	display: flex;
	align-items: center;
	margin-bottom: 60px;
}
@media(max-width: 1080px) {
	.social-media {
		margin-bottom: 0;
	}
}
@media(max-width: 410px) {
	.social-media {
		margin-bottom: 20px;
	}
}
.social-media a {
	margin-right: 20px;
	transition: all .4s;
}
.social__image {
	transition: all .2s;
}
.social-media a:hover .social__image {
	fill: #8b3d70;
}
.telegram {
	background: linear-gradient(83.66deg,#cf5657,#8b3d70);
	border-radius: 5px;
	overflow: hidden;
}
.telegram__name {
	font-size: 1.4rem;
	font-weight: 500;	
	text-align: center;
	padding: 5px 10px;
}
.telegram__link a {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 6px 10px;
	border: 1px solid transparent;
	border-radius: 0 0 5px 5px;
	background: #000;
	background-clip: padding-box;
	color: #fff;
	text-align: center;
	transition: all .2s;
}
.telegram__link a:hover {
	color: #8b3d70;
}
.telegram__icon {
	transition: fill .2s;
}
.telegram__link a:hover .telegram__icon {
	fill: #8b3d70;
}
.telegram__link span {
	margin-right: 10px;
}
.footer__user {}
.footer__school {}
.footer__courses {}
.footer__image {
	width: 100%;
}
.footer__line {
	border-top: 1px solid #ffffff40;
}
.footer__copyright {
	text-align: center;
    padding: 30px 0 40px;
    width: 100%;
}
.footer__item {
	margin-bottom: 15px;
}
.footer__link .program__text{
	color: #fff;
}

.footer__link:hover .program__text{
	color: #fff;
	border-color: #fff;
}
