h2 {
	font-family: "IBMPlexSerif";
	font-weight: 600;
	font-size: 36px;
	line-height: 133%;
}

.content-wrap {
	position: relative;
	width: 100%;
    max-width: 1920px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 220px;
}
@media(max-width: 1500px) {
	.content-wrap {
		padding: 0 80px;
	}
}

.front-page {
	padding-top: 140px;
	background: linear-gradient(217deg,rgba(231,216,230,.7),hsla(0,0%,100%,0) 70%),
				linear-gradient(127deg,rgba(255,229,236,.7),hsla(0,0%,100%,0) 70%),
				linear-gradient(336deg,rgba(227,234,240,.7),hsla(0,0%,100%,0) 70%),
				linear-gradient(120deg,rgba(246,241,240,.7),rgba(246,241,240,0) 70%),
				linear-gradient(120deg,rgba(255,238,217,.7),hsla(0,0%,100%,0) 70%);
}

.front-page__wrapper {
	display: flex;
	align-items: flex-end;
	margin-bottom: 100px;
}

.front-page__text {
	position: relative;
	flex: 2 1 auto;
	padding: 0 20px 0 150px;
}

.front-page__text:before {
	content: url('../images/front-page-label.svg');
    width: 124px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    background-size: contain;
}

.front-page__title {
	max-width: 850px;
    margin-bottom: 20px;
    font-family: IBMPlexSerif;
    font-weight: 500;
    font-size: 48px;
    line-height: 125%;
    padding-right: 20px;
}

.front-page__subtitle {
	margin-bottom: 80px;
}

.subtitle__button {
	background: transparent;
}

.subtitle__button:hover {
	color: #8f3f6f;
}

.subtitle__link {
	color: #000;
}

.subtitle__link:hover {
	color: #8f3f6f;
}

.front-page__image {
	flex: 1 2 600px;
}

.front-page__image img {
	width: 100%;
}

.front-page__button {
	padding: 10px 30px;
	height: 64px;
	width: 327px;
}

.front-page__form {
	display: flex;
}

.select__window {
    position: relative;
    padding: 0 20px;
    margin-right: 10px;
    margin-bottom: 5px;
	background-color: #fff;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 64px;
    width: 327px;
    line-height: 64px;
}

.select__window:after {
	content: url("data:image/svg+xml,%3Csvg width='9' height='5' viewBox='0 0 9 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.72756 0L4.375 3.11049L1.02155 0L0 0.946484L4.375 5L8.75 0.946484L7.72756 0Z' fill='black'/%3E%3C/svg%3E");
	position: absolute;
	right: 20px;
	top: 0px;
}

.select__option-list {
	position: absolute;
	border-radius: 0 0 6px 6px;
	overflow: hidden;
}

.select__option-list_hidden {
	display: none;
}

.select__option {
	height: 64px;
    width: 327px;
    padding: 0 20px;
    line-height: 64px;
    background-color: #fff;	
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.select__option_selected, .select__option:hover {
	background-color: #f2f2f2;
}

.stats {
	width: 100%;
	padding: 30px 0 24px;
    background: hsla(0,0%,100%,.5);
}

.stats__list {
	display: flex;
	justify-content: space-between;
	padding: 0 230px;
}

.stats__item {
	position: relative;
    margin: 0 20px
}

.statistics__item:before {
	content: "";
    width: 64px;
    height: 64px;
    position: absolute;
    top: -20px;
    left: -30px;
    background: linear-gradient(255.96deg,rgba(251,235,239,.6),rgba(223,234,253,.6));
    border-radius: 50pc;
    z-index: 1;
}

.stats__title {
	margin-bottom: 6px;
    position: relative;
    z-index: 1;
    font-size: 24px;
    line-height: 125%;
    font-family: Formular;
    font-weight: 500;
}
.stats__text {
	position: relative;
	z-index: 1;
}

.licence {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 50px 0;
	background: linear-gradient(83.66deg,rgba(25,15,15,.25),rgba(65,30,52,.25));
	z-index: 30;
	-webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
}

.licence_hidden {
	display: none;
}

.licence__cover {
	width: 60%;
	height: 95%;
	margin: 0 auto;
}
.licence__close {
	background: transparent;
}
.licence__close svg {
	position: absolute;
	right: 2px;
	top: 2px;
}
.licence__image picture {
	display: block;
    max-width: 900px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.licence__image img {
	display: block;
    max-width: 900px;
    max-height: 85vh;
    margin: 0 auto;
    position: relative;	
}

.studying-programs {
	margin-bottom: 50px;
}
.studying-programs__inner {
	display: flex;
	margin-top: 80px;
}
.studying-programs__left {
	position: relative;
	flex: 1 0 50%;
}

.sticky {
	position: sticky;
	top: 70px;
}

.studying-programs__left img {
	width: 70%;
	margin-top: 100px;
}
.studying-programs__right {
	flex: 1 0 50%;
}
.studying-programs__list {
	padding-top: 30px;
}
.program + .program {
	border-top: 1px solid #ccc;
}
.program__heading {
	display: flex;
	justify-content: space-between;
	font-family: Formular;
	font-weight: 500;
	font-size: 20px;
	line-height: 150%;
	padding: 32px 0;
	cursor: pointer;
	user-select: none;
}

.program__heading span {
	font-size: 30px;
	font-weight: 400;
}
.program-wrap {
	height: 0;
	transition: all .3s;
	overflow: hidden;
}

.program__list {
	padding: 5px 0;
}

.program__item {
	margin-bottom: 25px;
}

.program__item:last-child {
	margin-bottom: 45px;
}
.program__text {
	color: #000;
	border-bottom: solid 1px #aaa;
	transition: all .3s;
}

.program__text:hover {
	border-color: #8f3f6f;
	color: #8f3f6f;
}

.status {
	position: relative;
	white-space: nowrap;
	margin-left: 20px;
	color: #fff;
	padding: 1px 10px 4px 18px;
	text-transform: lowercase;
}

.status::before {
	content: "";
	position: absolute;
	clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 10% 100%, 0% 50%);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}

.status-green::before {
	background: #85ab35;
}

.status-orange::before {
	background: #e0b74e;
}

.status::after {
	content: "";
	position: absolute;
	top: calc(50% - 2px);
	left: 8px;
	border-radius: 50%;
	width: 4px;
	height: 4px;
	background: #fff;
}

.lessons {}
.lessons__inner {
	display: flex;
}
.lessons__text {
	flex-basis: 50%;
	margin-right: 10%;
}
.lessons__heading {
	margin-bottom: 50px;
}
.lessons__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.lessons__item {
	width: 45%;
	margin-bottom: 60px;
}
.lessons__number {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	margin-bottom: 20px;
	width: 64px;
	height: 64px;
	border-radius: 50%;
	background: linear-gradient(0deg,#dfeafd,#fbebef);;
}
.lessons__number:after {
	content: "";
	width: calc(100% - 16px);
	height: calc(100% - 16px);
	position: absolute;
	top: 8px;
	left: 8px;
	background-color: hsla(0,0%,100%,.5);
	border-radius: 50%;
	z-index: 1;
}

.lessons__number span {
	z-index: 2;
}
.lessons__item-text {
	font-size: 20px;
}

.lessons__slider {
	max-width: 50%;
	min-width: 0;
}

.slider-image {
	cursor: grab;
	margin-bottom: 50px;
}

.slider-image:active {
	cursor: grabbing;
}

.nav-slider__item + .nav-slider__item{
	padding-left: 15px;
}

.lessons__slider img {
	max-width: 100%;
	max-height: 100%;
}

.slick-list {
	overflow: hidden;
}

.slick-track{
	display: flex;
}

.slider-nav .slick-slide.slick-current img{
	border: #8b3d70 solid 2px;
}

.slider-nav .slick-slide img{
	border: transparent solid 2px;
	cursor: pointer;
}

.teachers__grid {
	position: relative;
	background: url("../images/rectangle-cover.png") no-repeat;
	background-size: 65% 65%;
	background-position: 25% 25%;
	margin-bottom: 50px;
}

.teachers__grid:before {
	content: "";
	width: 100%;
	height: calc(100% + 20px);
	position: absolute;
	top: -10px;
	left: 0;
	z-index: 1;
	background: radial-gradient(#cf5657 20%,#ee7b40 100%);
	opacity: .15;
	filter: blur(20px);
}
.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr; 
	grid-template-areas: 'a b c c' 'd e f g' 'h i j j';
	grid-gap: 30px 20px;
}
.grid__item {
	background-color: #fff;
	border-radius: 8px;
	overflow: hidden;
	z-index: 2;
	max-height: 300px;
}

.grid__item:nth-child(-n+2) {
	align-self: end;
	height: 200px;
}

.grid__item:nth-child(3) {
	grid-area: c;
	background-image: url("../images/teachers.webp"),
	url("../images/teachers.jpg");
	background-size: cover;
	height: 250px;
}

.grid__item:nth-child(4) {
	background-image: url("../images/teachers2.webp"),
	url("../images/teachers2.jpg");
	background-size: cover;
}

.grid__item:nth-child(10) {
	grid-area: j;
	background-image: url("../images/teachers3.webp"),
	url("../images/teachers3.jpg");
	background-size: cover;
}

.grid__item img {
	max-height: 100%;
}
.grid-text {
	padding: 42px 30px;
	max-height: fit-content;
}
.grid-text__heading {
	font-family: "IBMPlexSerif";
	font-weight: 600;
	font-size: 24px;
	line-height: 150%;
	margin-bottom: 12px;
}
.grid-text__text {
	font-size: 16px;
	line-height: 150%;
}

.enrollment {
	background-color: #92a656;
	color: #fff;
	padding: 80px 0 160px 0;
}
.enrollment__inner {
	position: relative;
}
.enrollment__heading {
	padding-bottom: 50px;
}
.enrollment__text {
	padding-bottom: 50px;
}
.enrollment__list {
	display: flex;
}
.enrollment__item {
	position: relative;
	padding-right: 40px;
}
.item__num {
	position: relative;
	width: 48px;
	height: 48px;
	margin-bottom: 20px;
	border-radius: 50%;
	border: 2px solid #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	background-color: #92a656;
	font-size: 1.5rem;
	line-height: 125%;
}
.enrollment__item:nth-child(-n+4)::before {
	content: "";
	position: absolute;
	top: 24px;
	border: 1px solid #fff;
	width: 100%;
	
}
.enrollment__link {
	color: #fff;
	white-space: nowrap;
	border-bottom: 1px solid #ccc;
	transition: border-bottom .4s;
}

.enrollment__link:hover {
	border-bottom: 1px solid #fff;
}

.enrollment picture {
	position: absolute;
  	bottom: -75%;
	right: -10%;
}
.enrollment img {
	max-width: 150px;
	
}

.start {
	background: linear-gradient(255.96deg,rgba(223,234,253,.5),rgba(251,235,239,.5));
	padding: 80px 0;
	margin-bottom: 80px;
}
.start__inner{
	display: flex;
}
.start__column {
	flex: 1 1 50%;
}
.column-form {
	display: flex;
	justify-content: flex-end;
}
.start__heading {
	font-family: "IBMPlexSerif";
	font-weight: 500;
	font-size: 32px;
	line-height: 125%;
	margin-bottom: 25px;
}
.start__subheading {
	font-family: Formular;
	font-weight: 500;
	font-size: 24px;
	line-height: 125%;
	margin-bottom: 60px;
}
.start__form {
	background: #fff;
	padding: 7% 12%;
	max-width: 570px;
}

.label-text {
	display: inline-block;
	position: relative;
	width: 100%;
	padding: 30px 0 20px;
	color: #a5a5a5;
	border-bottom: 1px solid #a5a5a5;
}
.label-text:hover {
	color: #a14669;
	border-bottom: 1px solid transparent;
	border-image: linear-gradient(83.66deg,#cf5657,#8b3d70);
	border-image-slice: 1;
}
.checkbox-wrap {
	padding: 10px 0;
	align-self: flex-start;
}
.checkbox-wrap input {
	z-index: -1;
}
.checkbox-wrap label {
	position: relative;
	color: #000;
	margin-left: 0.4rem;
}
.checkbox-wrap label:hover {
	color: #a14669;
}
.checkbox-wrap label::before {
	content: "";
	position: absolute;
	display: inline-block;
	width: 1.4rem;
	height: 1.4rem;
	border: 1px solid #a5a5a5;
	border-radius: 6px;
	background: #fff;
	bottom: 0;
	left: -1.6rem;
}
.checkbox-wrap label:hover::before {
	border-color: #a14669;
}
.checkbox-wrap input:checked + label::before{
	background: url(../images/new_checkmark.png);
	background-size: contain;
	border-color: #a14669;
}
.start__form label span {
	display: inline-block;
	min-width: 130px;
}
.start__form input[type="text"] {
	color: #a5a5a5;
}
.start__form select {
	width: 100%;
	padding: 20px 0 20px;
	margin-top: 30px;
	color: #000;
	border-bottom: 1px solid #a5a5a5;
	background: #fff;
	font-family: Formular;
	font-weight: 400; 
	font-size: 1rem;
}
.start__form select:hover, .start__form select:focus {
	color: #a14669;
	border-bottom: 1px solid transparent;
	border-image: linear-gradient(83.66deg,#cf5657,#8b3d70);
	border-image-slice: 1;
}
.start__form option {
	color: #a14669;
}
.start__form option[disabled] {
	color: #a5a5a5;
}
.start__form input[type="textarea"] {
	display: inline-block;
	width: 100%;
	height: 95px;
	padding: 30px 0 20px;
	margin-bottom: 20px;
	color: #000;
	border-bottom: 1px solid #a5a5a5;
	font-size: 1rem;
}
.start__form input[type="textarea"]:hover, 
.start__form input[type="textarea"]:focus {
	border-bottom: 1px solid transparent;
	border-image: linear-gradient(83.66deg,#cf5657,#8b3d70);
	border-image-slice: 1;
}
.start__form input[type="textarea"]:hover::placeholder,
.start__form input[type="textarea"]:focus::placeholder {
	color: #a14669;
}

.form__heading {
	font-family: "IBMPlexSerif";
	font-weight: 600;
	font-size: 24px;
	line-height: 150%;
	padding-bottom: 40px;
}
.form-button {
	width: 100%;
	height: 64px;
	margin: 30px auto 0;
}
.benefits__inner {
	display: flex;
	padding-top: 70px;
	margin-bottom: 50px;
}
.benefits__column {
	flex: 1 1 55%;
}
.benefits__column-sticky {
	flex: 1 1 45%;
}
.benefits__heading {
	margin-bottom: 100px;
}
.benefits img {
	max-width: 85%;
}
.benefits__list {
	position: relative;
	display: flex;
	flex-wrap: wrap;
}
.benefits__item {
	position: relative;
	flex-basis: 50%;
	padding: 0 10px;
	margin-bottom: 60px;
}
.benefits__item:before {
	top: -10px;
	left: -10px;
}
.levels {}
.levels__inner {}
.levels__header {}
.levels__header div {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
.levels__header p {
	max-width: 620px;
}
.levels__image {}
